body {
    background-color: #2d2d2d;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}
.skill-card {
    background-color: #3d3d3d;
    padding: 100px;
    border-radius: 50px;
    text-align: center;
    transition: background-color 0.3s;
}
.skill-card:hover {
    background-color: #4e9fe6;
}
.skill-card.git {
    background-color: #3d3d3d;
}
.skill-card.git:hover {
    background-color:#5d5d5d;
}
h2{
    font-size: 20px;
}
button:hover{
    color:red;
    font-size: 20px;
}
h3:hover{
    color:red;
}
i:hover{
    font-size: 25px;
}